@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Rectangle\ 48.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    font-size: 30px;
  }

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #333;
    background: transparent;
}

.btn button{

    border: 2px solid #000;
    padding: 10px 20px;
    margin: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.checkbox-wrapper {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 10px; /* Space between image and toggle switch */
}
.checkbox-wrapper input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.b{
    position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            background-size: cover;
            cursor: pointer;
}
